<div class="form-group">
  <table class="table table-bordered">
    <%= form.fields_for :question_options do |option| %>
      <tr>
        <td><%= option.text_field :content, class: "form-control form-control-sm", placeholder: "Enter content of this option" %></td>
        <td>
          <%= option.radio_button :is_answer, 'is_answer', id: "option_#{option.index}", class: "form-check-input", :checked => option.object.is_answer? %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

